<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.framgia.lupx.androidtrainingframgia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".service.ServiceTestActivity"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".contentprovider.ContentProviderTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.DownloadHtmlService" />

        <provider
            android:name=".contentprovider.StudentsProvider"
            android:authorities="com.framgia.provider.College">

        </provider>

        <receiver android:name=".widgets.SpeedWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/speedwidget" />
        </receiver>
    </application>

</manifest>
